<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
	<title>SIGEVT</title>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Cadastro de Eventos</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn" href="/eventos"><i class="material-icons left">cloud</i>Lista de Eventos</a></li>
				</ul>
			</div>
		</nav>
	</header>
	
	<th:block th:include="mensagemValidacao"></th:block>
	<div class="container formEvento">
		<form class="container" method="post">
			<div class="row">
				<div class="input-field col s12">
					Nome: <input type="text" value="" name="nome" id="nome"/>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					Local:	<input type="text" value="" name="local" id="local"/>
				</div>
				<div class="input-field col s3">
					Data:	<input type="date" value="" name="data" id="data"/>
				</div>
				<div class="input-field col s3">
					Horário: <input type="time" value="" name="horario" id="horario"/>
				</div>
			</div>
		
			<button class="waves-effect waves-light btn" type="submit">Salvar</button>
		</form>
	</div>
	
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>	
</body>
</html>