<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>SIGEVT</title>
</head>

<body>
	<h1>Cadastro de Eventos</h1>
	
	<form method="post">
		<label for="nome">Nome:</label>
		<input type="text" value="" name="nome" id="nome"/>
		<label for="local">Local:</label>
		<input type="text" value="" name="local" id="local"/>
		<label for="data">Data:</label>
		<input type="date" value="" name="data" id="data"/>
		<label for="horario">Horario:</label>
		<input type="text" value="" name="horario" id="horario"/>
	
		<button type="submit">Salvar</button>
	</form>
</body>
</html>