<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>SIGEVT</title>
	</head>
	<body>
		<h1>Lista de Eventos</h1>
		<h3><a href="/cadastrarEvento">Cadastrar Evento</a></h3>
		
		<div th:each="evento : ${eventos}">
			<p><span th:text="${evento.nome}"></span></p>
			<p><span th:text="${evento.local}"></span></p>
			<p><span th:text="${evento.data}"></span></p>
			<p><span th:text="${evento.horario}"></span></p>
		</div>
	</body>
</html>